@import "tailwindcss";

/* Add the Substack-style Serif font */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

.serif {
  font-family: 'Source Serif 4', serif;
}